# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
/src/groupbox
groupbox

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEA IDE
.idea

# MacOS
.DS_Store

# Dropstack
.dropstack.json

# FRONTEND
/src/frontend/build
/src/frontend/node_modules
/src/frontend/coverage

# Deployment
/dropstack
/build/environment
